<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" th:href="@{/style.css}" />

    <title>Create Group</title>
</head>
<body class="container body-content">

<form method="post">
    <div class="form-gameGroup">
        <h1>Create Group</h1>
        <p>Please fill in this form to create a gameGroup</p>
    </div>

    <div class="form-gameGroup">
        <label>Group Name
            <input class="form-control" th:field="${gameGroupName}" th:required="required"/>
        </label>
        <p class="error" th:errors="${gameGroupName}"></p>
    </div>

    <div class="form-gameGroup">
        <label>Group Description
            <input class="form-control" th:field="${gameGroup.gameGroupDescription}"  th:required="required"/>
        </label>
        <p class="error" th:errors="${gameGroup.gameGroupDescription}"></p>
    </div>
    <div class="form-gameGroup">
        <label>Group Rules
            <input class="form-control" th:field="${gameGroup.gameGroupRules}" th:required="required"/>
        </label>
        <p class="error" th:errors="${gameGroup.gameGroupRules}"></p>
    </div>
    <div class="form-gameGroup">
        <label>Group Location
            <input class="form-control" th:field="${gameGroup.gameGroupLocation}" th:required="required"/>
        </label>
        <p class="error" th:errors="${gameGroup.gameGroupLocation}"></p>
    </div>
    <div>
        <form action="upload.php" method="post">
        Select image to upload:
        <input type="file" name="file" id="file"/>
    </form>
    </div>

    <input type="submit" class="btn btn-primary" value="Create Group" />
</form>

</body>
</html>
