<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" th:href="@{/style.css}" />

    <title>Edit Group</title>
</head>
<body class="container body-content">

<th:block th:unless="${groups}">
    <p>The gameGroup you are trying to edit does not exist.</p>
</th:block>
<th:block >
    <form method="post" th:action="@{/group/edit}">
        <div class="form-gameGroup">
            <h1>Edit Group</h1>
            <p>Please fill in areas you wish to edit</p>
        </div>
        <div class="form-gameGroup">
            <label>Group Name
                <input type ="text" name="name" class="form-control" th:value="${gameGroup.gameGroupName}">
            </label>
        </div>
        <div class="form-gameGroup">
            <label>Group Description
                <input type ="text" name="description" class="form-control" th:value="${gameGroup.gameGroupDescription}">
            </label>
        </div>
        <div class="form-gameGroup">
            <label>Group Rules
                <input type ="text" name="rules" class="form-control" th:value="${gameGroup.gameGroupRules}">
            </label>
            <p class="error" th:errors="${gameGroup.gameGroupRules}"></p>
        </div>
        <div class="form-gameGroup">
            <label>Group Location
                <input type ="text" name="location" class="form-control" th:value="${gameGroup.gameGroupLocation}">
            </label>
            <p class="error" th:errors="${gameGroup.gameGroupLocation}"></p>
        </div>
        <div>
<!--            <form action="upload.php" method="post">-->
<!--                Select new image to upload:-->
<!--                <input type="file" name="file" id="file"/>-->
<!--            </form>-->
        </div>
        <input type="hidden" th:value="${gameGroup.groupId}" name="groupId" />
        <div class="form-gameGroup">
            <input type="submit" value="Edit Group" class="btn btn-success">
        </div>

    </form>
</th:block>
</body>
</html>