<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" th:href="@{/style.css}" />

    <title>Edit Group</title>
</head>
<body class="container body-content">

<th:block th:unless="${groups}">
    <p>The gameGroup you are trying to edit does not exist.</p>
</th:block>
<th:block >
    <form method="post" th:action="@{/group/edit}">
        <div class="form-group">
            <h1>Edit Group</h1>
            <p>Please fill in areas you wish to edit</p>
        </div>
        <div class="form-group">
            <label>Group Name
                <input class="form-control" type="text" th:field="${gameGroup.gameGroupName}" th:required="required"/>
            </label>
        </div>
        <div class="form-group">
            <label>Group Description
                <input class="form-control" type="text" th:field="${gameGroup.gameGroupDescription}"  th:required="required"/>
            </label>
        </div>
        <div class="form-group">
            <label>Group Rules
                <input class="form-control" type="text" th:field="${gameGroup.gameGroupRules}" th:required="required"/>
            </label>
            <p class="error" th:errors="${gameGroup.gameGroupRules}"></p>
        </div>
        <div class="form-group">
            <label>Group Location
                <input class="form-control" type="text" th:field="${gameGroup.gameGroupLocation}" th:required="required"/>
            </label>
            <p class="error" th:errors="${gameGroup.gameGroupLocation}"></p>
        </div>

        <input type="hidden" th:value="${gameGroup.id}" name="gameGroupId" />
        <div class="form-group">
            <input type="submit" value="Edit Group" class="btn btn-success">
        </div>

    </form>
</th:block>
</body>
</html>
