<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<nav th:replace="fragments :: navbar"></nav>

<body class="container body-content">

<form method="post" action="/group/create">
<input type="submit" class="btn btn-primary" value="Create Group" />

<table class="table table-striped">
    <thead>
    <tr>
        <th>Group Name</th>
        <th>Group Description</th>
        <th>Group Rules</th>
        <th>Group Address</th>
        <th>Group Zip Code</th>
        <th>Edit Group</th>
        <th>Delete Group</th>
    </tr>
    </thead>

    <tr  th:each="gameGroup : ${groups}">
        <td th:text="${gameGroup.gameGroupName}"></td>
        <td th:text="${gameGroup.gameGroupDescription}"></td>
        <td th:text="${gameGroup.gameGroupRules}"></td>
        <td th:text="${gameGroup.gameGroupAddress}"></td>
        <td th:text="${gameGroup.gameGroupZipCode}"></td>
    <td>
        <a th:href="@{'/group/edit/' + ${gameGroup.id}}">Edit Group</a>

    </td>

        <td>
            <a th:href="@{'/group/delete'}">Delete Group</a>
        </td>
    </tr>

</table>
</form>
</body>
</html>
