<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" th:href="@{/style.css}" />

    <title>Group</title>
</head>
<body class="container body-content">

<table class="table table-striped">
    <thead>
    <tr>
        <th>Group Name</th>
        <th>Group Description</th>
        <th>Group Rules</th>
        <th>Group Location</th>
        <th>Edit</th>
    </tr>
    </thead>

    <tr  th:each="gameGroup : ${groups}">
    <tr>
        <td th:text="${gameGroup.gameGroupName}"></td>
    </tr>
    <tr>
        <td th:text="${gameGroup.gameGroupDescription}"></td>
    </tr>
    <tr>
        <td th:text="${gameGroup.gameGroupRules}"></td>
    </tr>
    <tr>
        <td th:text="${gameGroup.gameGroupLocation}"></td>
    </tr>
    <td>
        <a th:href="@{/gameGroup/edit/{groupId}(Id=${gameGroup.groupId})}">Edit Group</a>
    </td>
    </tr>
</table>

</body>
</html>
