<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<nav th:replace="fragments :: navbar"></nav>

<body class="container body-content">

<form method="post" action="/group/create">
<input type="submit" class="btn btn-primary" value="Create Group" />
    <br></br>
<table class="table table-hover">
    <thead class="thead-dark">
    <tr>
        <th style="text-align:center">Group Name</th>
        <th style="text-align:center">Group Description</th>
        <th style="text-align:center">Group Rules</th>
        <th style="text-align:center">Group Address</th>
        <th style="text-align:center">Group Zip Code</th>
        <th style="text-align:center">Edit Group</th>
<!--        <th>Delete Group</th>-->
    </tr>
    </thead>

    <tr  th:each="gameGroup : ${groups}">
        <td style="text-align:center" th:text="${gameGroup.gameGroupName}"></td>
        <td style="text-align:center" th:text="${gameGroup.gameGroupDescription}"></td>
        <td style="text-align:center" th:text="${gameGroup.gameGroupRules}"></td>
        <td style="text-align:center" th:text="${gameGroup.gameGroupAddress}"></td>
        <td style="text-align:center" th:text="${gameGroup.gameGroupZipCode}"></td>
    <td>
        <a th:href="@{'/group/edit/' + ${gameGroup.id}}">Edit Group</a>

    </td>

<!--        <td>-->
<!--            <a th:href="@{'/group/delete'}">Delete Group</a>-->
<!--        </td>-->
    </tr>

</table>
</form>
</body>
</html>
