<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<!--<head th:replace="fragments :: head"></head>-->
<head>
    <style>

h1{
  font-size: 50px;
  color: #B4886B;
}
p {
  color: #B4886B;
}
a  {
  color: #B4886B;
}
  table, th, td {
  width: 38%;
  border: 1px solid black;
  margin: 15px 0px;
  align
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  }
label { color: #B4886B;
        text-align: center;
        border: 3px black;
        font-weight: bold;
        display: block;
        width: 600px;
        float: left; }
        label:after { content: ": " }
</style>
</head>

<body class="container  body-content">


<a href="games">All Games</a>

<!--<nav th:replace="fragments :: page-header"></nav>-->

<h1 th:text="${gameName}">title</h1>


<table>
    <tr th:each="msg : ${messages}">
        <td>
            <p th:text="'(' + ${msg.fromUserId} + '): ' + ${msg.timeSent} + '>>>' + ${msg.messageText}"></p>

        </td>
    </tr>
</table>


<form method="post" style="max-width:600px;" action="add">
    <input type="hidden" th:value="${message.toGameGroupId}" name="toGameGroupId" />
    <input type="hidden" th:value="${gameName}" name="gameName" />
    <div class="form-group">
        <label th:for="messageText">Write Your Message Here</label>
        <input class="form-control" th:field="${message.messageText}" />
<!--        <span th:errors="${employer.name}" class="error"></span>-->
    </div>

<!--    <div class="form-group">-->
<!--        <label th:for="location">Employer Location</label>-->
<!--        <input class="form-control" th:field="${employer.location}" />-->
<!--        <span th:errors="${employer.location}" class="error"></span>-->
<!--    </div>-->

    <input type="submit" value="Add Message" />
</form>

</body>
</html>