  .header {
    padding: 15px;
    background-color: #FAF0E6;
    border: 2px solid #73AD21;
    border-radius: 25px;
  }

  .jumbotron {
    background: url(/images/game-room.jpg);
    background-size: 100% 100%;
    height: 1000px;
    color: whitesmoke;
  }

 .profile-head {
    height: 200px;
    background-color: #DCDCDC;
    padding: 50px;
 }

 .profile-pic {
    height: 100px;
    float: right;
    border-radius: 50%;
    border: 10px
    border-color: #2F4F4F
 }

 .card-title {
    color: #2F4F4F;
    font-size: 100px;
    text-align: center;
 }

 .card-img-overlay {
    clear: right;
 }

   .navbar {
    display:flex;

   }

  .navbar a{
    padding: 12px;
    text-decoration:none;
    font-size:25px;
    text-align: center;
    color:#818181;
    display:block;
  }

  .navbar a:hover{
     color:#f1f1f1;
  }

  .navbar a.active {
    background-color: #4CAF50;
  }
