<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>All Aboard</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/allaboard..css}"/>
</head>

<body>
    <nav class="side-nav" th:fragment="sidebar">
        <h1>All Aboard</h1>
        <ul class="nav" style="float:right;">
            <li class="side-nav"><a class="nav-link" href="/profile">My Page</a></li>
            <li class="side-nav"><a class="nav-link" href="/map">Map</a></li>
            <li class="side-nav"><a class="nav-link" href="/groups">My Groups</a></li>
        </ul>
    </nav>
</body>

</html>