<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">

</head>

<body class="welcome-page">

<div class="jumbotron">
    <h1 class="display-4" style="font-size:70px">Welcome to All Aboard</h1>
    <p class="lead" style="font-size: 40px">We hope you enjoy your time here and find many fun games to play!</p>
    <hr class="my-4"><br>
    <b style="font-size: 16px">Don't have an account? Register for one!</b>
    <p class="lead"><br>
        <a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>
    </p>
    <span><b style="font-size: 16px">Already have an account?</b>
        <p class="lead"><br>
        <a class="btn btn-primary btn-lg" href="/login" role="button">Log in</a>
    </p>
    </span>
</div>


</body>
</html>