<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

</head>
<body >

<div class="card" style="background-color: #8B4513; text-align: right">
    <img class="card-img-top" src="/images/default_profile_pic" style="height:250px; border-radius: 50%; border: 10px solid #000080">
    <div class="card-body">
        <h5 class="card-title" style="text-align:center;">Profile</h5>
<!--        <p class="card-text">Edit Profile Pic</p>-->

    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="/index">Home</a></li>
        <li class="list-group-item"><a href="/map">View Map</a></li>
        <li class="list-group-item"><a href="/messages">My Messages</a></li>
        <li class="list-group-item"><a href="/groups">My Group</a></li>
    </ul>
</div>

<!--<h3>Click "Choose File" button to upload a file:</h3>-->
<!--<form action="/action_page.php">-->
<!--    <label for="myfile">Select a file:</label>-->
<!--    <input type="file" id="myfile" name="myfile" accept="image/*"><br><br>-->
<!--    <input type="submit">-->
<!--</form>-->

<button class="btn btn-link btn-sm" href="/login">Log Out</button>

</body>
</html>