<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
<!--    <link rel="stylesheet" type="text/css" href="/style.css">-->
</head>
<body>
<img src="https://media.istockphoto.com/photos/miscellaneous-board-game-pieces-on-a-chess-board-picture-id619649940?k=6&m=619649940&s=612x612&w=0&h=rWnWZjo5QE2Ccfo24nIR6yKeB8nei_KhSyDqfcOnQiQ=">

<h1>Show File-select Fields</h1>

<h3>Click "Choose File" button to upload a file:</h3>
<form action="/action_page.php">
    <label for="myfile">Select a file:</label>
    <input type="file" id="myfile" name="myfile" accept="image/*"><br><br>
    <input type="submit">
</form>


</body>
</html>