<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!--<head th:replace="fragments :: head"></head>-->
<body class="container body-content">

<!--<header th:replace="fragments :: page-header"></header>-->

<form method="post">
    <div class="form-group">
        <label>Username
            <input class="form-control" th:field="${registerFormDTO.username}" />
        </label>
        <p class="error" th:errors="${registerFormDTO.username}"></p>
    </div>
    <div class="form-group">
        <label>Password
            <input class="form-control" th:field="${registerFormDTO.password}" type="password" />
        </label>
        <p class="error" th:errors="${registerFormDTO.password}"></p>
    </div>
    <div class="form-group">
        <label>Verify Password
            <input class="form-control" th:field="${registerFormDTO.verifyPassword}" type="password" />
        </label>
    </div>
    <div class="form-group">
        <label>Email
            <input class="form-control" th:field="${registerFormDTO.email}" />
        </label>
        <p class="error" th:errors="${registerFormDTO.email}"></p>
    </div>
    <div class="form-group">
        <label>Address Line One
            <input class="form-control" th:field="${registerFormDTO.addressLineOne}" />
        </label>
        <p class="error" th:errors="${registerFormDTO.addressLineOne}"></p>
    </div>
    <div class="form-group">
        <label>Address Line Two
            <input class="form-control" th:field="${registerFormDTO.addressLineTwo}" />
        </label>
        <p class="error" th:errors="${registerFormDTO.addressLineTwo}"></p>
    </div>
    <div class="form-group">
        <label>City
            <input class="form-control" th:field="${registerFormDTO.city}" />
        </label>
        <p class="error" th:errors="${registerFormDTO.city}"></p>
    </div>
    <div class="form-group">
        <label>State
            <input class="form-control" th:field="${registerFormDTO.state}" />
        </label>
        <p class="error" th:errors="${registerFormDTO.state}"></p>
    </div>
    <div class="form-group">
        <label>Zip Code
            <input class="form-control" th:field="${registerFormDTO.zipCode}" />
        </label>
        <p class="error" th:errors="${registerFormDTO.zipCode}"></p>
    </div>

    <input type="submit" class="btn btn-primary" value="Register" />
</form>


</body>
</html>
